<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h3>Order Details</h3>
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6">
        Ordered on <%= local_time_ago(@order.created_at) %>
      </div>
      <div class="col-12 col-sm-5 col-md-6">
        Order #<%= @order.created_at.to_i %>
      </div>
    </div>
    <hr>
    <table class="table">
      <%= render partial: 'line_items/table_body', locals: { cart: @order.cart } %>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td>Subtotal (<%= pluralize(@order.cart.line_items_amount, 'item') %>):</td>
          <td class="text-end"><%= number_to_currency(@order.cart.subtotal)%></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Shipping:</td>
          <td class="text-end"><%= number_to_currency(@order.shipping_total)%></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total:</td>
          <th class="text-end"><%= number_to_currency(@order.total)%></th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
