<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="<%= product.image_url %>" height='198' alt="..." />
    <!-- Product details-->
    <div class="card-body">
      <%= link_to product_path(product), class: 'text-decoration-none' do %>
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= product.name %></h5>
        </div>
      <% end %>

    </div>
    <!-- Product actions-->
    <div class="card-footer pt-0 border-top-0 bg-transparent">
      <div class="text-center mb-2">
        <!-- Product price-->
        <span class="price"><%= number_to_currency(product.price) %></span>
      </div>
      <div class="text-center">
        <%= button_to 'Add to cart', line_items_path, method: :post, params: { line_item: { product_id: product.id, amount: 1 } }, class: 'btn btn-primary mt-auto' %>
      </div>
    </div>
  </div>
</div>
