<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Products', products_path, class: 'text-decoration-none' %>
        </li>
        <% @product.category_list.each do |category| %>
          <li class="breadcrumb-item">
            <%= link_to category, products_path(category:), class: 'text-decoration-none' %>
          </li>
        <% end %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= @product.name %>
        </li>
      </ol>
    </nav>

    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%= @product.image_url %>" alt="..." /></div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <span><%= number_to_currency(@product.price) %></span>
        </div>

        <div class="d-flex">
          <%= form_with model: LineItem.new, url: line_items_path do |f|%>
            <%= f.hidden_field :product_id, value: @product.id %>
            <div class="row">
              <div class="col-5">
                <div class="input-group mb-3">
                  <button class="btn btn-primary border-light-subtle btn-subtract" type="button" id="button-addon1">-</button>
                  <%= f.number_field :amount, class: 'form-control text-center item-quantity', value: 1, min: 1 %>
                  <button class="btn btn-primary border-light-subtle btn-add" type="button" id="button-addon2">+</button>
                </div>
              </div>
              <div class="col">
                <%= f.button class: 'btn btn-primary flex-shrink-0', type: 'submit' do %>
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <%= render @related_products %>
    </div>
  </div>
</section>
